<?xml version="1.0"?>
<!-- 
  Launch file zur Visualisierung der LiDAR-Punktwolke vom SHERPA-Roboter
-->
<launch>
  <!-- Arguments -->
  <arg name="rviz_config" default="$(find sherpa_description)/rviz/sherpa_lidar.rviz" doc="RViz-Konfigurationsdatei"/>
  <arg name="laser_scan_topic" default="/scan" doc="Topic für die LiDAR-Daten"/>
  
  <!-- Starte RViz mit der Lidar-spezifischen Konfiguration -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)"/>
  
  <!-- Zeige Message für den Benutzer -->
  <node pkg="rostopic" type="rostopic" name="lidar_info" 
        args="echo -n 1 $(arg laser_scan_topic)" output="screen"/>
</launch>