<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="joy" default="false"/>
  
  <!-- Robot pose -->
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.4"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  
  <!-- Start Gazebo with Sherpa robot -->
  <include file="$(find sherpa_gazebo)/launch/sherpa_gazebo.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="run_gui" value="$(arg gui)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="roll" value="$(arg roll)"/>
    <arg name="pitch" value="$(arg pitch)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include>

  <!-- Start keyboard teleop if joy is not enabled -->
  <group unless="$(arg joy)">
    <include file="$(find sherpa_teleop)/launch/better_teleop_sherpa.launch" />
  </group>

  <!-- Start joystick teleop if enabled -->
  <group if="$(arg joy)">
    <include file="$(find teleop_twist_joy)/launch/teleop.launch"/>
  </group>

</launch>