<?xml version="1.0"?>
<launch>
  <!-- Gazebo-Variablen -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="world_name" default="worlds/empty.world"/>

  <!-- Starte Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <!-- Lade die Roboterbeschreibung auf den Parameter-Server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sherpa_description)/urdf/sherpa.xacro'" />

  <!-- Starte den Roboter-State-Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Spawne das Robotermodell in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-param robot_description -urdf -model sherpa
              -x 0 -y 0 -z 0.1" />

  <!-- Starte die Kontrolle des Roboters -->
  <include file="$(find sherpa_control)/launch/sherpa_control.launch" />
</launch>