<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- GAZEBO ARGUMENTS -->
  <!-- Run Gazebo headless -->
  <arg name="headless"                              default="false"/>
  <!-- Model path -->
  <arg name="model_path"                            default="$(find sherpa_gazebo)/"/>
  <arg name="robot_namespace"                       default=""/>
  <arg name="robot_model_name"                      default="sherpa"/>
  <arg name="enable_ekf"                            default="true"/>
  <!-- Enable/disable teleop -->
  <arg name="start_teleop"                          default="true"/>

  <!-- Name of the world -->
  <arg name="world"                                 default="big_map_summer_school"/>
  <!-- Path to the world file -->
  <arg name="world_file"                            default="$(find sherpa_gazebo)/worlds/$(arg world).world"/>
  <arg name="laser_enabled"							            default="true"/>

  <!-- Set the initial pose of the robot's main body -->
  <arg name="x"                                     default="0.0"/>
  <arg name="y"                                     default="0.0"/>
  <arg name="z"                                     default="0.4"/>
  <arg name="roll"                                  default="0.0"/>
  <arg name="pitch"                                 default="0.0"/>
  <arg name="yaw"                                   default="0.0"/>
  <!-- Start paused -->
  <arg name="paused"                                default="false"/>
  <!-- Use simulation clock -->
  <arg name="use_sim_time"                          default="true"/>
  <!-- Debug mode -->
  <arg name="debug"                                 default="false"/>
  <!-- Verbose mode -->
  <arg name="verbose"                               default="true"/>

  <arg name="laser_scan_min_height"                  default="0.0"/>
  <arg name="laser_scan_max_height"                  default="0.1"/>

  <!-- GUI ARGUMENTS -->
  <!-- Enable/disable Gazebo GUI -->
  <arg name="run_gui"                               default="true"/>
  
  <!-- ROBOT ARGUMENTS -->
  <!-- Name of the robot description parameter -->
  <arg name="robot_description" default="robot_description"/>
  
  <!-- Load robot description with LiDAR enabled -->
  <param name="$(arg robot_description)" command="$(find xacro)/xacro '$(find sherpa_description)/urdf/sherpa.urdf.xacro' simulation:=true lidar:=$(arg laser_enabled)" />

  <!-- Load Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <env name="GAZEBO_MODEL_PATH" value="$(arg model_path)"/>
    <arg name="world_name"        value="$(arg world_file)"/>
    <arg name="paused"            value="$(arg paused)"/>
    <arg name="use_sim_time"      value="$(arg use_sim_time)"/>
    <arg name="gui"               value="$(arg run_gui)"/>
    <arg name="headless"          value="$(arg headless)"/>
    <arg name="debug"             value="$(arg debug)"/>
    <arg name="verbose"           value="$(arg verbose)"/>
  </include>

  <!-- Spawn robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-param $(arg robot_description) -urdf -model $(arg robot_model_name) -x $(arg x)
      -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"
    output="screen"/>

  <include file="$(find sherpa_control)/launch/control.launch">
    <arg name="simulation"      default="true"/>
    <arg name="robot_namespace"     default="$(arg robot_namespace)"/>
    <arg name="robot_description"   default="$(arg robot_description)"/>
    <arg name="enable_ekf"          default="$(arg enable_ekf)" />
  </include>
  
  <!-- Start teleop if requested -->
  <group if="$(arg start_teleop)">
    <include file="$(find sherpa_teleop)/launch/sherpa_teleop.launch" />
  </group>
</launch>
